{% extends "base.html" %}
<style>
.btn{ /* 按钮美化 */
	width: 270px; /* 宽度 */
	height: 40px; /* 高度 */
	border-width: 0px; /* 边框宽度 */
	border-radius: 3px; /* 边框半径 */
	background: #1E90FF; /* 背景颜色 */
	cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
	outline: none; /* 不显示轮廓线 */
	font-family: Microsoft YaHei; /* 设置字体 */
	color: white; /* 字体颜色 */
	font-size: 17px; /* 字体大小 */
}
.btn{ /* 鼠标移入按钮范围时改变颜色 */
	background: #5599FF;
}
</style>

{% block content %}
<div class="container-fluid" style="margin-top: 20px">
  <table class="table">
    <thead class="thead-light">
{#        <button class="btn" type="button" onclick="location.href='127.0.0.1/to_insert'">新增</button>#}
        <span class="float-right">
          <a class="btn" href="{{ url_for('to_insert') }}" >新增</a>
        </span>
{#        <form method="post" >#}
{#            <input type="button" value="新增" onclick="location.href='127.0.0.1/to_insert'">#}
{#        </form>#}
      <tr>
        <th scope="col">序号</th>
        <th scope="col">医院</th>
        <th scope="col">姓名</th>
        <th scope="col">性别</th>
        <th scope="col">出生日期</th>
        <th scope="col">入院时间</th>
        <th scope="col">病历号</th>
        <th scope="col">操作</th>
          <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    {% for doc in docs %}
      <tr name="{{ doc['序号'] }}">
        <th scope="row">{{ doc['序号'] }}</th>
        <td>{{ doc['医院'] }}</td>
        <td>{{ doc['姓名'] }}</td>
        <td>{{ doc['性别'] }}</td>
        <td>{{ doc['出生日期'] }}</td>
        <td>{{ doc['入院时间'] }}</td>
        <td>{{ doc['病历号'] }}</td>
        <td>
            <form method="post" action="{{ url_for('edit', doc_id=doc['病历号']) }}">
                <input type="submit" value="编辑">
            </form>
        </td>
        <td>
            <form method="post" action="{{ url_for('delete',doc_id=doc['病历号']) }}">
                <input type="submit" value="删除" onclick="return confirm('Are you sure to delete the document?')">
            </form>
        </td>
      </tr>
    {% endfor %}


    </tbody>
  </table>
    <p align="center">{% for i in range(1,counts + 1)%}
        <a href="/index/{{i}}" >[第{{i}}页]</a>
    {%endfor%}
</p>
</div>

{% endblock %}
