{% extends "base.html" %}
{% block content %}
<div class="container-fluid" style="margin-top: 20px">
  <table class="table">
    <thead class="thead-light">
{#        <button class="btn" type="button" onclick="location.href='127.0.0.1/to_insert'">新增</button>#}
        <span class="float-right">
          <a class="btn btn-outline-success my-2 my-sm-0"  href="{{ url_for('to_insert') }}" >新增</a>
        </span>
{#        <form method="post" >#}
{#            <input type="button" value="新增" onclick="location.href='127.0.0.1/to_insert'">#}
{#        </form>#}
      <tr>
        <th scope="col">序号</th>
        <th scope="col">医院</th>
        <th scope="col">姓名</th>
        <th scope="col">性别</th>
        <th scope="col">出生日期</th>
        <th scope="col">入院时间</th>
        <th scope="col">病历号</th>
        <th scope="col">操作</th>
          <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    {% for doc in docs %}


      <tr name="{{ doc['序号'] }}">

        <th scope="row">{{ doc['序号'] }}</th>
        <td>{{ doc['医院'] }}</td>
        <td>{{ doc['姓名'] }}</td>
        <td>{{ doc['性别'] }}</td>
        <td>{{ doc['出生日期'] }}</td>
        <td>{{ doc['入院时间'] }}</td>
        <td>{{ doc['病历号'] }}</td>
        <td>
            <form method="post" action="{{ url_for('edit', doc_id=doc['病历号']) }}">
                <input type="submit" value="编辑">
            </form>
        </td>
        <td>
            <form method="post" action="{{ url_for('delete',doc_id=doc['病历号']) }}">
                <input type="submit" value="删除" onclick="return confirm('Are you sure to delete the document?')">
            </form>
        </td>
      </tr>


    {% endfor %}


    </tbody>
  </table>
    <nav aria-label="Page navigation example" align="center">
          <ul class="pagination" align="center" style="text-align: center">
            <li class="page-item"><a class="page-link" href="/index/1">首页</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
              {% for page_num in range(1,pages + 1)%}
            <li class="page-item"><a class="page-link" href="/index/{{page_num}}">{{ page_num }}</a></li>
              {%endfor%}
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="/index/{{ pages }}">末页</a></li>
            <form method="post" action="{{ url_for('go_to_page') }}">
                <input type="submit" value="跳转至" style="float:left">
                <input name="page_content" type="text" style="float:left;width:20%">
                <a style="float:left">页</a>
            </form>
          </ul>
    </nav>
</div>

{% endblock %}
